<?xml version="1.0"?>
<launch>

    <node name="velocity_and_light_control" pkg="velocity_and_light_control" type="velocity_and_light_control" output="screen" >
        <rosparam subst_value="true">
            use_joy_feedback: true
            twist_factor: 0.2
            volume: 20
        </rosparam>
    </node>
</launch>
